

.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.meta_item {
  margin-right: 1.5em;
  font-size: 0.875em;
  line-height: 2;
  color: var(--medium);
}

.meta_item a {
  background: none;
  padding-bottom: 0;
  color: inherit;
}

.meta_item a:hover {
  color: var(--link);
}

.octicon,
.language_color {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

.language_color {
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
  position: relative;
  vertical-align: text-top;
}