.menu {
  transition: opacity 300ms ease, transform 300ms ease;
}

.menu li {
  transform: translateX(-16px);
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms ease, width 300ms ease,
    border-color 300ms ease;
}

.menuRendered {
  opacity: 1;
}

.menuRendered li {
  transform: translateX(0);
  opacity: 1;
}

@keyframes grow {
  0% {
    height: 0px;
  }
  100% {
    height: 24px;
  }
}