.prose pre,
.language-tab pre[class*='language-']::before {
  /* Large code blocks */
  @apply bg-gray-100 dark:bg-gray-700;
}

code[class*='language-'],
pre[class*='language-'] {
  /* Overall text color */
  @apply text-gray-500 dark:text-gray-300;
}

.prose pre code {
  /* TODO */
  @apply text-gray-500 dark:text-gray-300;
}

.prose code {
  /* Inline code blocks */
  @apply mx-1 inline-block rounded bg-indigo-50 py-0.5 px-2 align-middle text-base tracking-tight text-indigo-500 dark:bg-indigo-900 dark:bg-opacity-50 dark:text-indigo-200;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400 dark:text-gray-500;
}

.token.punctuation {
  @apply text-gray-500 dark:text-neutral-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-teal-400 dark:text-emerald-400;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500 dark:text-purple-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-amber-500 dark:text-amber-400;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-sky-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-line {
  @apply -mx-4 block border-l-4 border-blue-500 bg-gray-100 px-4 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Show appropriate flavor of code block */
.language-tab {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.language-tab pre[class*='language-'] {
  -webkit-overflow-scrolling: touch;
}

.language-tab pre[class*='language-']::before {
  @apply absolute right-0 -top-6 rounded-t-lg px-4 py-1 text-right text-sm uppercase text-gray-500 dark:text-gray-300;
}

.language-tab pre[class~='language-jsx']::before {
  content: 'jsx';
}

.language-tab pre[class~='language-tsx']::before {
  content: 'tsx';
}

.language-tab pre[class~='language-typescript']::before {
  content: 'ts';
}

.language-tab pre[class~='language-javascript']::before {
  content: 'js';
}

.language-tab pre[class~='language-html']::before {
  content: 'html';
}

.language-tab pre[class~='language-swift']::before {
  content: 'swift';
}

.language-tab pre[class~='language-css']::before {
  content: 'css';
}

.language-tab pre[class~='language-scss']::before {
  content: 'scss';
}

.language-tab pre[class~='language-bash']::before {
  content: 'bash';
}

.language-tab pre[class~='language-markdown']::before {
  content: 'markdown';
}
