.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: var(--gap-half);
  grid-column-gap: var(--gap-half);
}
.card,
.skeleton {
  border: 2px solid var(--accent-1);
  border-radius: var(--radius);
  padding: 0 var(--gap);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--bg);
  transition: all var(--transition);
}
.card:hover {
  box-shadow: 0 3.3px 6.7px rgba(0, 0, 0, 0.018),
    0 11.2px 22.3px rgba(0, 0, 0, 0.027), 0 25px 100px rgba(0, 0, 0, 0.05);
  border-color: var(--accent-2);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px !important;
  color: var(--brand);
}

.group:hover .title {
  text-decoration: underline !important;
}

.description {
  margin: 0 50px 0 0;
}
.dummytitle {
  width: 50%;
  height: 25px;
  margin-bottom: 0.25em !important;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}
.dummydescription {
  width: 75%;
  height: 25px;
  animation: pulse 2s infinite;
  border-radius: var(--radius-sm);
  background-color: var(--accent-2);
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 668px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
  }
}
