.button,
.signbutton,
.loginbutton,
.modifybutton {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 500;
}

.button {
  background-color: var(--accent-1);
  color: var(--fg);
}

.button:hover {
  background-color: var(--accent-2);
}
.loginbutton {
  background-color: var(--brand);
  color: var(--bg);
  border: 2px solid var(--brand);
}
.loginbutton:hover {
  background-color: var(--bg);
  color: var(--brand);
}
.inputWrapper {
  display: flex;
  gap: var(--gap-half);
  margin: var(--gap) 0;
}
.signbutton {
  width: max-content;
  background-color: var(--brand);
  color: var(--bg);
  border: 2px solid var(--brand);
  padding: var(--gap-half) var(--gap);
}
.signbutton:hover {
  background-color: var(--bg);
  color: var(--brand);
}
.modifybutton {
  background-color: var(--accent-1);
  color: var(--brand);
  padding: var(--gap-half) var(--gap);
  width: 9rem;
}
.modifybutton:hover {
  background-color: var(--accent-2);
}
.error,
.delete,
.delete:hover {
  color: var(--delete);
}

.modify,
.modify:hover {
  color: var(--modify);
}

.input {
  flex: 1;
  border: 2px solid var(--accent-2) !important;
  padding: var(--gap);
  font-size: 1.125rem;
  border-radius: var(--radius);
  background-color: var(--accent-1) !important;
}
.input::placeholder {
  color: var(--accent-7) !important;
}

.author {
  color: var(--accent-3);
  font-size: 1rem;
}

.name {
  color: var(--accent-5);
}

.divider {
  color: var(--accent-2);
}

.author svg {
  color: var(--accent-2);
  margin-right: 5px;
}

@media (max-width: 668px) {
  .inputWrapper {
    flex-direction: column;
  }
  .signbutton,
  .modifybutton {
    margin: var(--gap-half) 0 0 0;
    width: 100%;
  }
}
