.particles {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  overflow: hidden;
  z-index: -9000;

  background-color: #111111;
}
